[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/srv/homeassistant/bin/hass -c "/home/pi/.homeassistant"
WorkingDirectory=/home/pi/.homeassistant

[Install]
WantedBy=multi-user.target
